body {
    margin: 50px;
    background-color: #d1ecfc;
  }
  h2{
    color: blue;
    font-weight: 500px;
  }
 
  .form-container {
    margin: 30px;
    /* display: flex; */
  }

  .form-container form{
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .search-container{
    margin-bottom: 30px;
  }
  .search-container TextField{
    background-color: white;
  }

  .buttonSubmit {
    color: darkblue;
    background-color: #79c6f3;
    font-size: 13px;
  }
  
  .table-container th,
  .table-container td {
    padding: 20px;
    /* text-align: center; */
    border-bottom: 1px solid aqua;
    width: 30%;
    color: darkblue;
  }
  
  
  .table-container th {
    font-weight: bold;
  }
  
  .button-container button {
    color: white;
    font-size: 10px;
  }
  
  .button-container button.available {
    background-color: green;
  }
  
  .button-container button.not-available {
    background-color: red;
  }
  
  .delete-button {
    color: red !important;
  }
  
  .edit-button {
    color: #075f92 !important;
  }

  .delete-confirmation-buttons{
    gap: 10px;
  }
  .form-element{
    display: block;
    align-items: right;
  }

  
  .error{
    color: red;
    text-align: right;
    font-size: 12px;
  }
  .filter-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* height: 50px; */
    vertical-align: middle;
    margin-bottom: 50px;
  }

  .textbox{
    display: block !important;
  }

  .delete-confirmation-buttons{
    display: inline-flex;
    position: relative;
    left: -20px;
  }

  dialog .delete-confirm{
    min-width: 500px;
    align-self: center;
  }